[submodule "vendure"]
	path = vendure
	url = git@github.com:andresemanueldopazo/vendure.git
[submodule "vendure-storefront"]
	path = vendure-storefront
	url = git@github.com:andresemanueldopazo/vendure-storefront.git
